/* -------------------------------------- */
/* --- BASIC SETUP --- */
/* -------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("Spacebackground.jpg");
    background-color: #001a33;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* -------------------------------------- */
/* --- Orbit tools (Container , line , orbits ) & Sunline --- */
/* -------------------------------------- */
.main-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.rotating-orbit {
    border-radius: 50%;
    border: 0;
    animation: orbits-an linear infinite;
    position: absolute;
}

.stop-orbit {
    animation-play-state: paused;
}

.orbitline {
    border: dashed hsla(0, 0%, 75%, 0.52);
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    transition: border 0.5s;
}

.orbit-highlight-on {
    border: 2px solid #fff;
    border-radius: 50%;
}

.orbit-highlight-off {
    border: dashed hsla(0, 0%, 75%, 0.52);
}

.sunline {
    background-color: #FB7209;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none;
    border-color: hsla(56, 100%, 56%, 0.88);
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.orbit-1 {
    width: 40vh;
    height: 40vh;
    animation-duration: 20s;
    animation-delay: -17s;
    z-index: 8;
}

.orbit-2 {
    width: 50vh;
    height: 50vh;
    animation-duration: 22s;
    animation-delay: -5s;
    z-index: 7;
}

.orbit-3 {
    width: 70vh;
    height: 70vh;
    animation-duration: 24s;
    animation-delay: -9s;
    z-index: 6;
}

.moon-orbit {
    width: 6vh;
    height: 6vh;
    position: absolute;
    top: 50%;
    animation: planets-an 16s linear infinite reverse;
}

.orbit-4 {
    width: 85vh;
    height: 85vh;
    animation-duration: 29s;
    animation-delay: -22s;
    z-index: 5;
}

.orbit-5 {
    width: 110vh;
    height: 110vh;
    z-index: 4;
    animation-duration: 32s;
    animation-delay: -8s;
}

.orbit-6 {
    width: 135vh;
    height: 135vh;
    animation-duration: 37s;
    animation-delay: -25s;
    z-index: 3;
}

.orbit-7 {
    width: 160vh;
    height: 160vh;
    animation-duration: 37s;
    animation-delay: -13s;
    z-index: 2;
}

.orbit-8 {
    width: 185vh;
    height: 185vh;
    animation-duration: 50s;
    animation-delay: -25s;
    z-index: 1;
}

/* -------------------------------------- */
/* --- Sun & Planets --- */
/* -------------------------------------- */
.planet {
    position: absolute;
    top: 50%;
    animation: planets-an 20s linear infinite;
    transition: border 0.8s;
}

.sun {
    width: 32vh;
    height: 32vh;
    animation: sun-an 11s linear infinite;
}

.mercury {
    width: 4vh;
}

.venus {
    width: 5.4vh;
}

.earth {
    width: 6vh;
}

.moon {
    width: 1.5vh;
    height: 1.5vh;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.mars {
    width: 5vh;
}

.jupiter {
    width: 12.5vh;
}

.saturn {
     width: 13.5vh;
}

.uranus {
    width: 9vh;
}

.neptune {
    width: 7vh;
}

/* -------------------------------------- */
/* --- Animation's --- */
/* -------------------------------------- */

@keyframes orbits-an {
    from {
        transform: rotate(200deg);
    }

    to {
        transform: rotate(-10deg);
    }
}

@keyframes planets-an {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes sun-an {
    0% {
        background-color: #ffff80;
        box-shadow: 0 -15px 60px rgba(255, 190, 60, 0.3);
    }

    16% {
        background-color: #ffff66;
        box-shadow: 0 -15px 60px rgba(255, 201, 102, 0.3);
    }

    32% {
        background-color: #ffff4d;
        box-shadow: 0 -15px 60px rgba(249, 240, 150, 0.5);
    }

    48% {
        background-color: #ffff4d;
        box-shadow: 0 -15px 60px rgba(255, 201, 102, 0.3);
    }

    60% {
        background-color: #ffff4d;
        box-shadow: 0 -15px 60px rgba(255, 190, 60, 0.3);
    }

    76% {
        background-color: #ffff66;
        box-shadow: 0 -15px 60px rgba(249, 240, 150, 0.5);
    }

    100% {
        background-color: #ffff80;
        box-shadow: 0 -15px 60px rgba(255, 201, 102, 0.3);
    }
}
